<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QLSPCNConnectionString" connectionString="Data Source=.;Initial Catalog=QLSPCN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QLSPCNConnectionString1" connectionString="Data Source=.;Initial Catalog=QLSPCN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QLSPCNConnectionString2" connectionString="Data Source=CUONGPC;Initial Catalog=QLSPCN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>